/* Query Untuk Input Form Responsive */

@media screen and (max-width: 768px) {
    .input-form input {
        width: 100%;
        margin-bottom: 10px;
    }
    .input-form button {
        margin: 3px;
    }
}

.dark {
    background-color: #2d3748;
    color: #ffffff;
  }
  
  .light {
    background-color: #ffffff;
    color: #000000;
  }

.main {
    background-color: var(--body-background);
    color: var(--body-color);
}

.main-button {
    background-color: var(--body-color);
    color: var(--body-background);
    border: 1px solid var(--body-color);
}

.main-info {
    background-color: var(--body-color);
    color: var(--body-background);
    border: 5px solid var(--body-background);
}

.main-arrow {
    color: var(--body-background);
}